# Clang format 8 - https://releases.llvm.org/8.0.1/tools/clang/docs/ClangFormatStyleOptions.html
---
### General config, applies to all languages ###
BasedOnStyle:  LLVM
AlignAfterOpenBracket: Align
AlignTrailingComments: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: true
BinPackArguments: false
BinPackParameters: false
BreakBeforeTernaryOperators: false
BreakConstructorInitializers: AfterColon
ColumnLimit:     100
CompactNamespaces: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 8
ContinuationIndentWidth: 8
Cpp11BracedListStyle: false
DisableFormat:   false
FixNamespaceComments: true
IndentCaseLabels: true
IndentWidth:     4
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
NamespaceIndentation: None
PointerAlignment: Right
SortIncludes:    true
SortUsingDeclarations: true
TabWidth:        4
UseTab:          Never
---
### C++ specific config ###
Language:        Cpp
Standard:        Auto
AccessModifierOffset: -3
AllowShortFunctionsOnASingleLine: Inline
IncludeBlocks:   Merge
IncludeCategories:
  - Regex:           '".*"'
    Priority:        1
  - Regex:           '^<.*\.h>'
    Priority:        2
  - Regex:           '^<.*'
    Priority:        3
---
### Java specific config ###
Language:        Java
AllowShortFunctionsOnASingleLine: None
JavaImportGroups: ['org.godotengine', 'android', 'androidx', 'com.android', 'com.google', 'java', 'javax']
...
