*.o
*.os
*.dylib
.import/
*.dblite
*.exp
*.lib
*.obj
*.TMP
logs
Thumbs.db
/obj
/libs
log.txt
log.zip
oculussig_*
.DS_Store
.idea
cmake-build-debug
demo/addons/godot_ovrmobile/libs/
demo/export_presets.cfg
