*.o
*.os
*.dylib
.import/
*.dblite
*.exp
*.lib
*.obj
*.TMP
logs
Thumbs.db
/obj
/libs
log.txt
log.zip
oculussig_*
.DS_Store
.idea
cmake-build-debug
demo/addons/godot_ovrmobile/libs/
demo/export_presets.cfg

# Gradle files
.cxx
.externalNativeBuild
*.iml
.gradle/
build/

# Local configuration file (sdk path, etc)
local.properties

# Godot mono configuration
.mono
