<?xml version="1.0" encoding="utf-8" ?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.godotengine.plugin.vr.oculus.mobile">

  <application>

    <meta-data
            android:name="org.godotengine.plugin.v2.OVRMobile"
            android:value="org.godotengine.plugin.vr.oculus.mobile.OvrMobilePlugin" />
  </application>

</manifest>